<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="images/book.jpg">
        <title>
            <%= title %>
        </title>
        
        <script src="https://kit.fontawesome.com/abc62f7ecd.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="css/appPage.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0 ">
    </head>
    
    <body>
        <!-- heading -->
        <div id="card">
            <h1>
                <i class="fas fa-book-mark"></i>
                To do App
                <!-- <i class="fas fa-smile-beam"></i> -->
            </h1>
            
            <!-- form for taking user input and sending user data for insertion in database -->
            <form action="/add_new_task" id="input-form" method="POST">
                <!-- div for text area for entering task -->
                <div id="task">
                    <label class="details" for="task"><i class="fas fa-pen"></i> Description</label><br/>
                    <input type="text" class="user-input" rows="2" name="task" id="describe" placeholder="Enter task descrition here" required>
                </div>
                
                <!-- div for inputing category, date and priority -->
           
                                <!-- input for category -->
                    <div id="category-input">
                        <label class="details" for="category"><i class="fas fa-clipboard-list"></i> Category</label><br/>
                        <select class="user-input" id="drop-menu" name="category" for="category-input">
                            <option value="Choose a category">Choose a category</option>
                            <option value="Personal">Personal</option>
                            <option value="Work">Work</option>
                            <option value="School">School</option>
                            <option value="College">College</option>
                            <option value="Household">Household</option>
                            <option value="Other">Other</option>
                        </select>
                    </div> 
                                <!-- input for date -->
                    <div id="calendar">
                        <label class="details" for="deadline"><i class="fas fa-calendar-alt"></i> Deadline</label><br/>
                        <input class="user-input" type="date" name="deadline" min="" required>
                    </div>
                            <!-- input of priority for the task -->
                    <div id="priority-input">
                        <label class="details"><i class="fas fa-balance-scale"></i> Task Priority</label><br/>
                        <div>
                            <span class="radio-option">
                                <input type="radio" name="priority" id="high" value="high" >
                                <label class="option" for="high">High</label>
                            </span>
                            <span class="radio-option">
                                <input type="radio" name="priority" id="low" value="low">
                                <label class="option" for="low">Low</label>
                            </span>   
                            <span class="radio-option">
                                <input type="radio" name="priority" id="none" value="none" checked> 
                                <label class="option" for="none">None</label>
                            </span>                     
                        </div>
                    </div>    
                    <!-- buttons for adding and removing task -->
                    <div id="form-btn">
                        <!-- submit button for insertion form -->
                        <button id="add-btn" type="submit" form="input-form"><i class="far fa-plus-square"></i> Add task</button>
                        <!-- submit button for deletion form -->
                        <button id="delete-btn" type="submit" form="deletion-form" ><i class="fas fa-trash-alt"></i> Remove tasks</button>   
                        
                    </div>
                
            </form>
            
            <!-- the information of the task will be shown here which is rendered from database -->
            <div id="task-list">
                
                <!-- tasks description from the database shown here as list items -->
                <ul>
                    <!-- this form will send checked data(task) to be deleted from the database and task-list -->
                    <form name="deletion" action="/delete_tasks" id="deletion-form" method="POST">
                        <% for (let i of task_list) { %>
                        
                            <li class="mytask-list"> 
                                  <!-- checkbox taking the selected input to be deleted -->
                                <input type="checkbox" class="check_task" name="task_id" value="<%= i._id %>"> 
                                 <!--task description, category, deadline, priority  -->
                                <span class="task highlight"><%= i.task %></span>
                                <span class="task-category highlight"><%= i.category %></span>          
                                <span class="task-deadline highlight"><i class="fas fa-calendar-alt"></i> <p class="date-text"><%= i.deadline %></p> </span>
                                <span class="task-priority highlight"><%= i.priority %></span>                        
                            </li>
                        <% } %>
                    </form>
                    
                </ul>
    
            </div>
        </div>
        
        <script type="text/javascript" src="script/appPage_script.js"></script>
    </body>
</html>